.mix-home{
    .top-mixes{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            gap: 40px;
            list-style: none;
            li{
                color: #fff;
            }
        }
    }

    .mixes-list{
        list-style: none;
        margin-top: 50px;
        
        .mixes-list-li{
            margin-bottom: 50px;

        }
       
    }

}

.container {
    max-width: 1380px;
    margin: 0 auto;
}


