

.app-header{
    padding:1rem;
    display: flex;
    border-bottom: 1px solid #fff;
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 20px;
        font-size: 1.6em;    
    }

    .nav-mix{
        display: flex;
        gap: 20px;
        font-weight: 900;
    }

    .nav-user{
        display: flex;
        gap: 20px;
        font-weight: 900;
    }

    .logo{

        img{
            width:160px;
            height: auto;
        }
    }

    .logo-playing{
        img{
            width:160px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477296/appmixes/logo_r_animated_v3_wi0rte.gif);
        }
    }

    .logo-stop{
        img{
            width:160px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477300/appmixes/logo_r_animated_v3_first_Frame_j45ekr.jpg);
        }
    }
   
}