
    .songs{
        .songs-list{
            display: flex;
            padding: 0 20px;
            @include for-wide-layout {
                padding: 0;
            }

           
 
            .search-song-and-social-container{
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-direction: column;

                @include for-wide-layout {
                    flex-direction: row;
                }

                .search-and-add{
                    display: flex;
                    justify-content: start;
                    gap: 10px;
                    width: 75%;
                    
                        @include for-wide-layout {
                            width: 100%;
                        }
                
                i{
                    font-size: 25px;
                }
                    .search-song{
                        margin-bottom: 20px;
                        min-width: 240px;
                        display: flex;
                        justify-content: start;
                        border-bottom: 2px solid $primary-color;
                        
                        input.el-input__inner::placeholder{
                            color:white;
                        }
                        // input.el-input__inner:visited{
                        //     filter: brightness(1.5);
                        // }
                        input.el-input__inner{
                            min-width: 270px;
                            background-color:inherit;
                            color: white;
                            border-style: none;
                            border-radius: 0;
                            font-size: 1.1em;
                            font-weight: 700;
                            letter-spacing: 2px;
                            padding: 0;
                        }
                    }
        
                }
                .search-song:hover, .search-song:focus-within{
                    filter: brightness(1.5);
                }
               
            }

            
            ul{
                display: flex;
                gap: 16px;
                flex-direction: column;
                width: 100%;
                max-height: 272px;
                overflow: scroll;
                overflow-x: hidden;
                padding: 0 30px 0 0px;

                @include niceScrollBar(5px , #be1e2d);

                li.songs-details {
                    width: 100%;

                }
                
            }

          
        }

    }
 .songs-details-main{
   .img-equalizer img{
       width: 55px;
       height: 30px;
       padding-right: 10px;
   }            
}
