.mix-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .mixes-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6em;

        .mix-link-show-all {
            color: #fff;
            align-self: flex-end;
           
        }

        .genre-title{
            color: white;
            font-weight: 900;
            align-self: flex-start;       
            text-transform: capitalize;
        }
    }

    .nav-show-all-ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        gap: 20px;
        color: #fff;
    }

    ul.mixes-nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        gap: 20px;
        font-size: 1.2em;
        color: #fff;
    }
    
    ul.ul-mixes {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        gap: 20px;
    }
 
   
}