.el-carousel__container {
    height: 70vh !important;
    width: auto;

    img {
        object-fit: cover;
        width: 100%;
    }
}

iframe#widget2{
    color:pink
    
    html{
        color:pink
    }
}

video#myVideo {
    object-fit: fill;
    width: 100%;
    height: auto;
}

div#player {
    color:pink
}

