
.mix-list-page  {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input-list{
        max-width: 50%;
        margin: 0 auto;
        border-bottom: 2px solid $primary-color;
    }
    .input-list:hover , .input-list:focus-within{
        filter: brightness(1.5);

    }
    input.el-input__inner{
        width: 100%;
        background-color:inherit;
        color: white;
        border-style: none;
        border-radius: 0;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 2px;
        padding-left: 30px;
        padding: 0;
    }

    input.el-input__inner:hover {
        filter: brightness(1.5);
    }

    .el-input input::placeholder{
        color: white;
    }
    span{
        i.fas {
            color:$primary-color;
            font-size: 25px;
            padding: 10px;
        }
    }
    .nav-genres{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;

        @include for-wide-layout {
            flex-direction: row;
        }
    } 

    .list-genres-carussel{
        width:100%;
        height: 25px;
    }

    .mixes-nav{
        display: flex;
        align-items: center;
        font-size: 1.6em;
        justify-content: center;

        .genre-title{
            color: white;
            font-weight: 900;
            align-self: flex-start;       
            text-transform: capitalize;
        }
    }

    .mix-link{
        width: 90px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        gap: 70px;
        font-size: 1.2em;
        color: #fff;
        margin-bottom: 40px;

       
    }
    .mix-link:hover{
        color: $primary-color;   
    }
    @include for-wide-layout {
        margin-bottom: 0;
    }


    .mix-link-all{
        width: 100px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        gap: 70px;
        font-size: 1.4em;
        color: #fff;
        margin-bottom: 40px;
        height: 26px;

        @include for-wide-layout {
            margin-bottom: 0;
        }
    }
    .mix-link-all:hover{
        color: $primary-color;
    }
    ul.mixes-nav-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        gap: 70px;
        font-size: 1.2em;
        color: #fff;
        margin-bottom: 40px;
    }
    
    ul.ul-mixes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        list-style: none;
        gap: 40px;
        margin-bottom: 90px;
        
        @include for-wide-layout {
            justify-content: left;
            margin-bottom: 0px;
        }

        .mix{
            align-items: baseline;
            margin-bottom: 20px;
      

            @include for-wide-layout {
               
                margin-bottom: 20px;
            }

            .mix-likes ,.mix-views , .mix-amount{
                display: flex;
                align-items: center;
            }
        }
    }
 
   .slick-slide{
        min-height: 40px !important;
        width: 100px !important;
        
        @include for-wide-layout {
            width: 120px !important;
        }
   }
}


