.mix {
    color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    img {
        max-width: 300px;
    }
    .info-name {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #000;
        background-color: #ffffffc7;
        padding: 5px;
    }
}


