.searchTest{
    position: relative;
    min-width: 240px;
    display: flex;
    border-bottom: 2px solid $primary-color;
    input {
        min-width: 270px;
        background-color:inherit;
        color: white;
        border-style: none;
        border-radius: 0;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 2px;
    }

    span{
        i.fas {
            color:$primary-color;
            font-size: 25px;
            padding: 10px;
        }
    }

    .el-input input::placeholder{
        color: white;
    }
    .el-input input:hover{
        // border-bottom: 2px solid $primary-color;
    }
    .el-input input:focus{
        // border-bottom: 2px solid $primary-color;
    }

    
    
}

.searchResults{
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    background: #8c8c8cbf;
    padding: 10px 20px;
    p{
        color: #fff;
        text-shadow: -1px 1px #000;
        font-weight: 900;
    }
    p:hover{
        color:$primary-color;

    }
    button{
        background: transparent;
        outline: none;
        border: 0px;
        color: #fff;
    }
    img{
        width: 50px;
        height: auto;
    }
}