.songs-list{
    display: flex;
    ul{
        display: flex;
        gap: 16px;
        flex-direction: column;
        width: 100%;

        li.songs-details {
            width: 100%;
        }
    }

    .search-song{
        margin-bottom: 20px;
        .el-input__inner::placeholder{
            color:white;
        }
        input.el-input__inner{
            max-width: 50%;
            background-color:inherit;
            color: white;
            border-style: none;
            border-bottom: 2px solid $primary-color;
        }
    }

}
