.mix-list-home  {
    display: flex;
    flex-direction: column;
    gap: 20px;

   
    h2{
        text-align: left;
    }

    .mixes-nav{
            display: flex;
            align-items: center;
            font-size: 1.6em;
            justify-content: space-between;
            margin: 0 0 15px 0;

            
        .nav-show-all-ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: flex-end;
            gap: 20px;
            color: #fff;
        }
        
        .genre-title{
            color: white;
            font-weight: 900;
            align-self: flex-start;       
            text-transform: capitalize;
        }

        .mix-link-show-all {
            color: #fff;
            font-weight: bold;
            align-self: flex-end;  
            padding-right: 0px;
            @include for-wide-layout {
                padding-right: 40px;
            }
        }
        .mix-link-show-all i{
            color: $primary-color;     
        }
        .mix-link-show-all:hover {
            cursor: pointer;  
            color: $primary-color
        }
    }

    ul.ul-mixes {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        gap: 60px;


    }



}
