.searchTest{
    min-width: 240px;
    display: flex;

    input {
        min-width: 320px;
        background-color:inherit;
        color: white;
        border-style: none;
        border-bottom: 2px solid $primary-color;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 2px;
        padding-left: 30px;
    }

    span{
        i.fas {
            color:$primary-color;
            font-size: 25px;
            padding: 0 10px;
        }
    }

    .el-input input::placeholder{
        color: white;
    }
    .el-input input:hover{
        border-bottom: 2px solid $primary-color;
    }
    .el-input input:focus{
        border-bottom: 2px solid $primary-color;
    }
}