.mixHome{
    .mixesList{
        list-style: none;
        margin-top: 50px;
        
        .mixesListLi{
            margin-bottom: 50px;
        }
    }

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


