
body{
    background-color: #18191a;  
    color:#fff;
    letter-spacing: 1px;
}

input{
    border-radius: 5px;
    outline: none;
    border:1px solid #fff
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

a:visited{
    color:#fff
}

.reflect {
    -webkit-box-reflect: below -2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(23%, transparent), to(rgba(255, 255, 255, 0.23)));
}