.mix-list-home {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2{
        text-align: left;
    }
    
    ul.ul-mixes {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        gap: 20px;
    }
}
