.mix { 
    color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
    margin-bottom: 80px;
    border-radius: 10px;
    outline: none;
    // overflow: hidden;

    @include for-wide-layout {
        
         margin-bottom: 80px;
    }

    .images{
        display: flex;
        position: relative;
        width: 300px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;

        img {
            width: 300px;
            max-width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
    
        }

        img.img-frame {
            width: 300px;
            max-width: 300px;
            height: 200px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
            position: absolute;
            opacity: 1;
            filter: sepia(1);
        }

    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: static;
        bottom: -100px;
        width: 100%;
        font-family: netflixmd;
        background-color: #ffffff00;
        padding: 5px;
        font-weight: 900;
        padding: 10px 11px;
        text-align: left;
        gap: 3px;
        max-width: 300px;

        .mix-name{
            color: $white-color;
            text-shadow: -1px 1px #000;
            font-size: 1.65em;
        }
        .mix-desc{
            color: $white-color;
            text-shadow: -1px 1px #000;
            font-size: 1.0em;
            font-weight: 100;
        }
        .stats{
            display: flex;
            justify-content: space-between;
            font-weight: 100;
            .likes{
                gap: 10px;
                .mix-likes{
                    font-family: 'netflixmd';
                    color: $primary-color;
                    font-size: 1em;
                    
                    i{
                        margin-right:5px
                    }
                }

                .mix-views{
                    color: $white-color;
                    text-shadow: -1px 1px  $black-color;
                    font-size: 1em;
                    margin-right:10px;
    
                    i{
                        color: $white-color;
                        margin-right:5px 
                    }
                }
            }

            .mix-amount{
                color: $white-color;
                text-shadow: -1px 1px  $black-color;
                font-size: 1em;
                i{
                    color: $white-color;
                    margin-right:5px 
                }
            }
        }

    }

    .info-stats {
        position: absolute;
        bottom: 53px;
        width: 100%;
        align-items: center;
        margin: auto;
        background-color: #ffffff00;
        padding: 5px;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        padding: 10px 11px;
 
        .mix-likes{
            font-family: 'netflixmd';
            color: $white-color;
            text-shadow: 0px 1px $black-color;
            font-size: 1.25em;
            align-self: flex-end;
            i{
                color: $white-color;
                margin-right:5px
            }
        }

        .mix-views{
            color:$white-color;
            text-shadow: 0px 1px $black-color;
            font-size: 1.25em;
            align-self: flex-end;
            i{
                color: $white-color;
                margin-right:5px 
            }
        }
    }
    

}

.mix:hover{
    img.mix-image { 
        transform: scale(1.25) rotate(8deg) ;
        // transform: rotate(20deg);
    } 
}





.highlight-color{
    color:#bd1628 !important ;
}
.default-color{
    color:white
}