



.global-player{
    background-color: #b2c5c3;
    color: #ffffff;
    text-shadow: 1px 1px #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url(https://coinglobefx.com/img/711.gif);
    // background-image: url(https://res.cloudinary.com/hw-projects/image/upload/v1606521981/appmixes/sony-wallkam-_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: -00px;
    box-shadow: 1px 1px 3px rgb(141, 141, 141);

    p{
        i{
            color: $primary-color;
            font-size: 1em;
            padding: 10px;
        }
    }

    h2{
        font-size:1rem;
        margin-right:1rem;
    }
    .step-btn{
        button{
            margin:1rem;
        }
    }
    button{
        background:transparent;
        border:none;
        color:white;
        font-size:1.4rem;
        outline:none;
        cursor: pointer;
    }


    // logo css
    .logo:hover{
        font-family: "Caveat", cursive;
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477296/appmixes/logo_r_animated_v3.gif);

        }
    }

    .logo-playing{
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477296/appmixes/logo_r_animated_v3.gif);
        }
    }

    .logo-stop{
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606479695/appmixes/logo_r_animated_v3_first_Frame.jpg);
        }
    }
}


.global{
    background-color: red;
    position: fixed;
    bottom:0;
    width:100%;
}

.progress-bar{
    display:flex;
    align-items: center;
    p{
        padding:15px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        width:450px;
        height:11px;
        background-color: rgb(255, 255, 255);
        border:none;
        transition: 0.3s;
        cursor: pointer;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]:hover {
      outline:none;
      background-color:rgb(146, 179, 223);
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #ff0101;
      cursor: pointer;
      border-radius:5px;
      outline:none;
    }
    
}
.progress-bar-input{
    
}




