.mixList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .navShowAllUl{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        gap: 20px;
        font-size: 1.2em;
        color: #fff;
    }

    ul.mixesNavUl {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
        gap: 20px;
        font-size: 1.2em;
        color: #fff;
    }
    
    ul.ulMixes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    .mixLinkShowAll {
        color: #fff;
        align-self: flex-end;
    }
}