.mix {
    color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;

    img {
        max-width: 300px;
    }

    .info-name {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #ffffff;
        background-color: var(--primary-color);
        padding: 5px;
        font-weight: 900;
        font-size: 1.65em;
        text-shadow: -1px 1px #000000;
    }
}


.mix:hover { transform: scale(1.05); }


