



.global-player{
    background-color: #b2c5c3;
    color: #ffffff;
    text-shadow: 1px 1px #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url(https://coinglobefx.com/img/711.gif);
    // background-image: url(https://res.cloudinary.com/hw-projects/image/upload/v1606521981/appmixes/sony-wallkam-_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: -00px;
    box-shadow: 1px 1px 3px rgb(141, 141, 141);

    p{
        i{
            color: $primary-color;
            font-size: 1em;
            padding: 10px;
        }
    }

    h2{
        font-size:1rem;
        margin-right:1rem;
    }
    .step-btn{
        button{
            margin:1rem;
        }
    }
    button{
        background:transparent;
        border:none;
        color:white;
        font-size:1.4rem;
        outline:none;
        cursor: pointer;
    }


    // logo css
    .logo:hover{
        font-family: "Caveat", cursive;
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477296/appmixes/logo_r_animated_v3.gif);

        }
    }

    .logo-playing{
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606477296/appmixes/logo_r_animated_v3.gif);
        }
    }

    .logo-stop{
        img{
            width:80px;
            height: auto;
            content:url(https://res.cloudinary.com/hw-projects/image/upload/v1606479695/appmixes/logo_r_animated_v3_first_Frame.jpg);
        }
    }
}
.player-volume{
    display:flex;
    align-items: center;
    p{
        margin-left:.7rem;
        font-size:12px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        width:30px;
        height:11px;
        background-color: rgb(255, 255, 255);
        border:none;
        transition: 0.3s;
        cursor: pointer;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]:hover {
      outline:none;
      background-color:rgb(146, 179, 223);
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 5px;
      height: 20px;
      background: #ff0101;
      cursor: pointer;
      border-radius:5px;
      outline:none;
    }
    
}

.global{
    background-color: red;
    position: fixed;
    bottom:0;
    width:100%;
}

.progress-bar{
    display:flex;
    align-items: center;
    p{
        padding:15px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        width:450px;
        height:11px;
        background-color: rgb(255, 255, 255);
        background-image: url(https://cdn.dribbble.com/users/339336/screenshots/4644736/comp-35-dribbble.gif);
        background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
        border:none;
        transition: 0.3s;
        cursor: pointer;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]:hover {
      outline:none;
      background-color:rgb(146, 179, 223);
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #ff0101;
      cursor: pointer;
      border-radius:5px;
      outline:none;
    }
    
}
.progress-bar-input{
    
}

@media(max-width:1469px){
    .progress-bar{

        input[type="range"]{
    
            width:390px;
            height:11px;
        }
    }
}
@media(max-width:1398px){
    .progress-bar{

        input[type="range"]{
    
            width:350px;
            height:11px;
        }
    }
}

@media(max-width:1350px){
    .global-player{
        height: 60px;
        gap:0;
        h2{
            font-size:10px;
        }
        .player-volume{
            margin-left:1.5rem;
            display:flex;
            align-items: center;
            p{
                margin-left:.7rem;
                font-size:12px;
            }
            input[type="range"]{
                -webkit-appearance: none;
                appearance: none;
                width:30px;
                height:8px;
                // background-color: rgb(255, 255, 255);
                border:none;
                transition: 0.3s;
                cursor: pointer;
            }
            input[type="range"]::-moz-focus-outer {
                border: 0;
            }
            input[type="range"]:hover {
              outline:none;
              background-color:rgb(146, 179, 223);
            }
            
            input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 5px;
              height: 15px;
              background: #ff0101;
              cursor: pointer;
              border-radius:5px;
              outline:none;
            }
            
        }
        
    }
    .progress-bar{
        display:flex;
        align-items: center;
        p{
            font-size:10px;
            padding:15px;
        }
        input[type="range"]{

            width:350px;
            height:8px;
        }
        input[type="range"]::-moz-focus-outer {
            border: 0;
        }
        input[type="range"]:hover {
          outline:none;
          background-color:rgb(146, 179, 223);
        }
        
        input[type="range"]::-webkit-slider-thumb {
          width: 10px;
          height: 15px;
 
        }
        .player-volume{
    display:flex;
    align-items: center;
    p{
        margin-left:.7rem;
        font-size:12px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        width:30px;
        height:11px;
        // background-color: rgb(255, 255, 255);
        border:none;
        transition: 0.3s;
        cursor: pointer;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]:hover {
      outline:none;
      background-color:rgb(146, 179, 223);
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 5px;
      height: 20px;
      background: #ff0101;
      cursor: pointer;
      border-radius:5px;
      outline:none;
    }
    
}
        
        
    }
    .step-btn{
        margin: 0px;
        padding:0;
        button{
            font-size:10px;
        }
    }
    .logo{
        display:none;
    }
    .mute{
        button{
            font-size: 14px;
            margin-left:1rem;
        }
    }
}
@media(max-width:1060px){
    .global-player{
        height: 50px;
        gap:0;
        h2{
            font-size:10px;
        }
        .player-volume{
            margin-left:1.5rem;
            display:flex;
            align-items: center;
            p{
                margin-left:.7rem;
                font-size:10px;
            }
            input[type="range"]{
                -webkit-appearance: none;
                appearance: none;
                width:30px;
                height:8px;
                background-color: rgb(255, 255, 255);
                border:none;
                transition: 0.3s;
                cursor: pointer;
            }
            input[type="range"]::-moz-focus-outer {
                border: 0;
            }
            input[type="range"]:hover {
              outline:none;
              background-color:rgb(146, 179, 223);
            }
            
            input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 5px;
              height: 15px;
              background: #ff0101;
              cursor: pointer;
              border-radius:5px;
              outline:none;
            }
            
        }
    }
    .progress-bar{
        display:flex;
        align-items: center;
        p{
            font-size:10px;
            padding:15px;
        }
        input[type="range"]{
            background-position-y: -100px;
            width:250px;
            height:8px;
        }
        input[type="range"]::-moz-focus-outer {
            border: 0;
        }
        input[type="range"]:hover {
          outline:none;
          background-color:rgb(146, 179, 223);
        }
        
        input[type="range"]::-webkit-slider-thumb {
          width: 10px;
          height: 15px;
 
        }
        
        
    }
    .step-btn{
        margin: 0px;
        padding:0;
        button{
            font-size:10px;
        }
    }
    .logo{
        display:none;
    }
    .mute{
        button{
            font-size: 14px;
            margin-left:1rem;
        }
    }
}
@media(max-width:765px){
    .global-player{
        height: 40px;
        gap:0;
        h2{
            font-size:10px;
        }
        .player-volume{
            display: none;
        }
        
    }
}
@media(max-width:750px){
    .global-player{
        height: 40px;
        gap:0;
        h2{
            font-size:10px;
        }
        
    }
    .progress-bar{
        display:flex;
        align-items: center;
        p{
            font-size:10px;
            padding:15px;
        }
        input[type="range"]{
            background-position-y: -60px;
            width:150px;
            height:5px;
        }
        input[type="range"]::-moz-focus-outer {
            border: 0;
        }
        input[type="range"]:hover {
          outline:none;
          background-color:rgb(146, 179, 223);
        }
        
        input[type="range"]::-webkit-slider-thumb {
          width: 10px;
          height: 11px;
 
        }
        
        
    }
    .step-btn{
        margin: 0px;
        padding:0;
        button{
            font-size:10px;
        }
    }
    .logo{
        display:none;
    }
    .mute{
        button{
            font-size: 14px;
            margin-left:1rem;
        }
    }
}
@media(max-width:611px){
    .global-player{
        
        gap:0;
        h2{
            font-size:10px;
        }
        
    }
    .progress-bar{
        display:flex;
        align-items: center;
        p{
            font-size:10px;
            padding:15px;
        }
        input[type="range"]{
            background-position-y: -30px;
            width:70px;
            height:5px;
        }
        input[type="range"]::-moz-focus-outer {
            border: 0;
        }
        input[type="range"]:hover {
          outline:none;
          background-color:rgb(146, 179, 223);
        }
        
        input[type="range"]::-webkit-slider-thumb {
          width: 10px;
          height: 11px;
 
        }
        
        
    }
    .step-btn{
        margin: 0px;
        padding:0;
        button{
            font-size:10px;
        }
    }
    .global-player .logo{
        display:none;
    }
    .mute{
        button{
            font-size: 14px;
            margin-left:1rem;
        }
    }
}

@media(max-width:415px){
    .global-player{
        
        gap:0;
        h2{
            font-size:10px;
        }
        
    }
    .progress-bar{
        display:flex;
        align-items: center;
        p{
            font-size:10px;
            padding:5px;
        }
        input[type="range"]{

            width:60px;
            height:5px;
        }
        input[type="range"]::-moz-focus-outer {
            border: 0;
        }
        input[type="range"]:hover {
          outline:none;
          background-color:rgb(146, 179, 223);
        }
        
        input[type="range"]::-webkit-slider-thumb {
          width: 10px;
          height: 11px;
 
        }
        
        
    }
    .step-btn{
        width:130px;
        margin: 0px;
        padding:0;
        button{
            font-size:10px;
        }
    }
    .global-player .logo{
        display:none;
    }
    .mute{
        button{
            font-size: 14px;
            margin-left:10px;
        }
    }
}


// .player-animation{
//     background-image: url(https://cdn.dribbble.com/users/339336/screenshots/4644736/comp-35-dribbble.gif);
//     background-size: cover;
// background-repeat: no-repeat;
// background-position-y: -200px;
// }
// .player-no-animation{
//     background-color: white;
// }


// .global-player{
//     background-color: #b2c5c3;
//     color: #ffffff;
//     text-shadow: 1px 1px #000;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: 70px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 50px;
//     background-image: url(https://coinglobefx.com/img/711.gif);
//     // background-image: url(https://res.cloudinary.com/hw-projects/image/upload/v1606521981/appmixes/sony-wallkam-_wallpaper.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     // background-position-y: -00px;
//     box-shadow: 1px 1px 3px rgb(141, 141, 141);