
    .songs{
        .songs-list{
            display: flex;

            .search-song-and-social-container{
                display: flex;
                width: 100%;
                justify-content: space-between;

                .search-and-add{
                    display: flex;
                    justify-content: start;
                    gap: 10px;
                
                
                    .search-song{
                        margin-bottom: 20px;
                        min-width: 320px;
                        display: flex;
                        justify-content: start;
        
                        .el-input__inner::placeholder{
                            color:white;
                        }
                        input.el-input__inner{
                            width: 100%;
                            background-color:inherit;
                            color: white;
                            border-style: none;
                            border-bottom: 2px solid $primary-color;
                            font-size: 1.1em;
                        }
                    }
        
                }

               
            }

            
            ul{
                display: flex;
                gap: 16px;
                flex-direction: column;
                width: 100%;
                

                li.songs-details {
                    width: 100%;
                }
                
            }

          
        }
    }

