.searchTest{
    min-width: 240px;
    display: flex;
    border-bottom: 2px solid $primary-color;
    input {
        min-width: 270px;
        background-color:inherit;
        color: white;
        border-style: none;
        border-radius: 0;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 2px;
    }

    span{
        i.fas {
            color:$primary-color;
            font-size: 25px;
            padding: 10px;
        }
    }

    .el-input input::placeholder{
        color: white;
    }
}
.searchTest:hover, .searchTest:focus-within{
    filter: brightness(1.5);
}
