.player-list{
    border:1px solid black;
    display:flex;
    
    ul{
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        li{
            padding:1rem;
        }
    }
}


iframe{
    width:1px;
    height: 1px;
    visibility: hidden;
    // margin-bottom:5rem;
}


.youtube-window{
    visibility:hidden
}



// .global-player{
//     // background-color: rgb(184, 184, 184);
//     // color:rgb(255, 40, 104);
//     // position: fixed;
//     // bottom:0;
//     width:100%;
//     height:100px;
//     background-color: #b2c5c3;
//     color: #ffffff;
//     text-shadow: 1px 1px #000;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: 70px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 50px;
//     background-image: url(https://res.cloudinary.com/hw-projects/image/upload/v1606521981/appmixes/sony-wallkam-_wallpaper.jpg);
//     background-size: 60%;
//     background-repeat: no-repeat;
//     background-position-y: -290px;

//     button{
//         background-color: transparent;
//         cursor: pointer;
//         outline: none;
//         box-shadow: inset 0 1px 1px #9c9c9c;
//         background: radial-gradient(at 0 -15%, rgba(255, 255, 255, 0.07) 70%, rgba(255, 255, 255, 0) 71%) 0 0/80% 90% no-repeat content-box, linear-gradient(#be1e2d, #310a0e) content-box, linear-gradient(#be1e2d, #000000) border-box;
//         width: 60px;
//         height: 50px;
//         border-radius: 10px;

//     }
//     .fa-play-circle,.fa-pause-circle,.fa-stop-circle{
//         font-size:2rem;
//          color: var(--white-color);
//     }
// }

// .global{
//     background-color: red;
//     // position: fixed;
//     // bottom:0;
//     // width:100%;
// }


