

.list1 ul{
    display:flex;
    flex-wrap: wrap;
    border:1px solid black;
    h1{
        color:black;
    }
}
.list2 ul{
    display:flex;
    flex-wrap: wrap;
    border:1px solid black;
    h1{
        color:black;
    }
}