$primary-color: #be1e2d;
$secondery-color: #ffde17;
$third-color-c: #000000;
 
$white-color:#ffffff;
$black-color:#000000;
$gray-color:#888;
 
//shades
 $primary-color-shade-a:#e34547;
 $primary-color-shade-b:#ff6764;
 $primary-color-shade-c:#ff8881;
 $primary-color-shade-d:#ffaaa0;
 
 
//random shades
 $primary-color-random-shade-a: #be1e2d;
 $primary-color-random-shade-b: #b81529;
 $primary-color-random-shade-c: #7d0000;
 $primary-color-random-shade-d: #690000;
 
 //gradients color
 $gradient-color-a:#ad205b;
 $gradient-color-b:#863878;
 $gradient-color-c:#58467f;
 $gradient-color-d:#344b71;
 $gradient-color-d:#2f4858;
/*
:root {
    --primary-color: #be1e2d;
    --secondery-color: #ffde17;
    --third-color-c: #000000;

    --white-color:#ffffff;
    --black-color:#000000;
    --gray-color:#888;

    //shades
    --primary-color-shade-a:#e34547;
    --primary-color-shade-b:#ff6764;
    --primary-color-shade-c:#ff8881;
    --primary-color-shade-d:#ffaaa0;
    
    
    // random shades
    --primary-color-random-shade-a: #be1e2d;
    --primary-color-random-shade-b: #b81529;
    --primary-color-random-shade-c: #7d0000;
    --primary-color-random-shade-d: #690000;

     // gradients color
     --gradient-color-a:#ad205b;
     --gradient-color-b:#863878;
     --gradient-color-c:#58467f;
     --gradient-color-d:#344b71;
     --gradient-color-d:#2f4858;

  }
*/
  // to use var(--primary-color);